
.BookingPage {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.bookingHeaderDiv {
    background-image: url('../images/restaurant.jpg');
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,50px);
    place-content: center;
}

.bookingHeader {
    grid-column: 3/ span 5;
    grid-row: 2/ 3;
    background-color: #F4CE14;
    width: 32em;
    height: 7em;
}

.bookingHeader h2 {
    color:  #495E57;
    text-align: center;
    font-size: 40px;
    font-family: 'Markazi Text Medium';
    font-weight: bold;
}

.formDiv {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.bookingForm {
    grid-column: 2/ span 2;
    padding : 12em;
    padding-top : 0em;
    text-align: center;
    font-weight: bold;
}

@media (max-width:600px) {
    .formDiv {
        display: grid;
        grid-template-columns: auto;
    }

    .bookingForm {
       padding-left: 7em;
    }
}

#bookingButton {
    background-color: #F4CE14;
    border-radius: 16px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Karla';
    border-style: solid;
}

.confirmationPage {
    background-color: #EDEFEE;
    max-width: 100%;
    height: 35em;
}

.confirmationMsg {
    border: 0px;
    padding-top: 5em;
    text-align: center;
    font-size: 2em;
    font-family:'Karla';
    border-style: solid;
    color: #495E57;
    font-weight: bold;
}

#changeMsg {
    font-size: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input , select , textarea{
    background-color: #EDEFEE;
    border-width: 1px;
    height: 20px;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus:invalid {
    border-color: #900;
    background-color: #fdd;
}

.reqLabel {
    color:  rgb(250, 152, 107);
    font-size: 9px;
}

.errorDiv {
    color:  rgb(248, 8, 8);
    font-size: 12px;
}