.Footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    text-align: center;
    background-color: #495E57;
    color: #EDEFEE;
}

@media (max-width: 600px) {
    .Footer {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: auto ;
        justify-content: center;
    }

}

#footer_logo {
    padding: 3em;
    width: 100px;
    height: 150px;
    grid-column: 1/ 2;
}

@media (min-width: 600px) {
.footer_elem {
    grid-column: 3/12;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}

.footer_list {
    display: grid;
}

.footer_list h4 {
    color: #F4CE14;
}