
.Header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: left;
    text-align: center;
}

#logo_id {
    grid-column: 1/ span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1em;
    place-items: left;
}

@media (max-width: 600px) {
    .Header {
        grid-template-columns: auto;
        grid-template-rows: 100px ;
    }
}