
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2em;
  background-color: #ffff;
}

.segment {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: auto;
}

header {
  grid-column: 1/ span 12;
}

main {
  grid-column: 1/span 12;
}

footer {
  grid-column: 1/ span 12;
}