.Card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 10px;
    background-color: #EDEFEE;
    margin: 10px;
    box-shadow: 5px 10px 20px #ccc;;
}

#dish_image {
    grid-column: 1/ span 2;
}

.dish {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: auto auto;
}

.description {
    grid-column: 1/ span 2;
    font-family: 'Karla Regular';
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
}

.delivery {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2em;
    padding-left: 2em;
}

.dishName {
    font-family: 'Karla Regular';
}

.price {
    font-family: 'Karla Light';
    color: #EE9972;
    padding-top: 5px;
}